$primary: #553CB2;
$secondary: #D40A3A;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #EEF2F7;
$dark: #343a40;

//custom color to be mapped
$accent : #da6d25;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  // add any additional color below
  accent: $accent,
  // now bg-accent,btn-accent,etc.. can be called
);



@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.breadcrumb{
  margin-bottom: 0;
}
.breadcrumb-item {
  + .breadcrumb-item::before {
    content: ">" !important;
    align-self: baseline;
    color: #7d8daa;
  }
  a{
    text-decoration: none;
    color:#000000
  }
}

/* NavBar Buttons */

.navbar-btn {
  background-color: #EEF2F7;
  border-width: 0px;
}

.btn-custom-border{
  border: 0.2px solid #7d8daa;
}
/*==================== 
  Footer 
====================== */

/* Main Footer */
footer .main-footer {
  padding: 20px 0;
  background: #EEF2F7;
}

footer ul {
  padding-left: 0;
  list-style: none;
}

footer ul li a {
  color: #000000;
  text-decoration: none;
}

.active-view{
  color: #D40A3A;
  font-weight: bolder;
  border: 1px solid #D40A3A;
  border-radius: 10px !important;
}

/* Copy Right Footer */
.footer-copyright {
  background: #553CB2;
  padding: 5px 0;
}

.footer-copyright p {
  color: #EEF2F7;
  margin: 2px 0 0;
}
